[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/brockelmore/forge-std
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "reference/uniswap-v2-core"]
	path = reference/uniswap-v2-core
	url = git@github.com:vexchange/uniswap-v2-core.git
[submodule "reference/sushi-trident"]
	path = reference/sushi-trident
	url = git@github.com:vexchange/sushi-trident.git
